.DS_Store
.idea

/cmake-build-debug
/cmake-build-release
/SYND

# FreeSynd specific
FreeSynd/*
!FreeSynd/put_game_files_here.txt
build_x64win/.vs
build_x64win/CMakeFiles
build_x64win/src
build_x64win/x64
build_x64win/cmake_install.cmake
build_x64win/CMakeCache.txt

# OS-specific
Thumbs.db
ehthumbs.db
desktop.ini

# Logs and temp
*.log
*.tmp